.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: var(--spacer-lg);
	padding-top: var(--spacer);
	padding-bottom: var(--spacer);

	border-bottom: solid 1px var(--color-border);

	.brand {
		@include mq(tablet-portrait, min) {
			flex: 1;
		}
		
	}

	.nav {
		flex: 1
	}
}