.nav {
	list-style: none;
	padding-left: 0;
	@media only screen and (min-width: map-get($breakpoints, "tablet-portrait")) {
		display: inline-grid;
		grid-auto-flow: column;
		justify-items: end;
		grid-column-gap: 1rem;
	}	
}

.nav-item {
}

.nav__link {
	display: block;
	text-decoration: none;
	color: var(--color-primary);
	font-family: var(--type-heading);
	padding: var(--spacer-sm) var(--spacer) calc(var(--spacer-sm)/1.5);
	line-height: 1;
	border-radius: var(--radius);
	&:hover {
		background-color: var(--color-active);
		color: white;
	}
}

.nav__item--active .nav__link {
	background-color: var(--color-light);
	&:hover {
		background-color: var(--color-active);
	}
}