@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-brand--navy);
		// background-color: hsl(195, 57%, 12%);
		background-color: hsla(248, 22%, 21%, 1);

		color: floralwhite;
	}
	a, .nav__link {
		color: var(--color-brand--canary);
	}
}