/* -------------------------------------------------- \
 *													  *													*
 *				CSS CUSTOM PROPERTIES				  *
 *													  *													*
\* -------------------------------------------------- */

:root {
	/* --------------------- Colors --------------------- */
	--color-primary: hsla(0,0%,0%,1);
	--color-border: hsla(0,0%,86%,1);
	--color-light: hsla(0,0%,92%,1);
	--color-active: hsla(240,100%,70%,1);

	--color-brand--navy: hsla(209,58%,24%,1);
	--color-brand--cardinal: hsla(349,51%,49%,1);
	--color-brand--canary: hsla(45,76%,79%,1);

	
	/* --------------------- Typography --------------------- */
	--type-heading: 'League Spartan Variable';
	--type-text: serif;

	--font-size-text: 1.25rem;
	--font-size-heading: 2rem;

	/* --------------------- Spacing --------------------- */
	--spacer-multiplier: 1.4;
	--spacer: 1.25rem;
	--spacer-lg: calc(var(--spacer) * var(--spacer-multiplier));
	--spacer-sm: calc(var(--spacer) / var(--spacer-multiplier));

	--radius: 10px;
}